@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Lato:wght@300&display=swap");
:root {
  --background-color: #2b0758;
  --sun-yellow: #f2d122;
  --mercury-grey: #c4c4c4;
  --venus-orange: #fa8418;
  --earth-blue: #5f6ef1;
  --mars-red: #bb0909;
  --jupiter-brown: #9a6431;
  --saturn-purple: #79319a;
  --uranus-green: #43baa4;
  --neptune-blue: #438fba;
  --pluto-brown: #826f5e;
  --asteriod-brown: #79634e;
  --star-white: #c4c4c4;
  --titles: "Expletus Sans", cursive;
  --text: "Lato", sans-serif;
}

body {
  z-index: -50;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: white;
  font-family: var(--text);
  overflow: hidden;
}

h1 {
  font-family: "Expletus Sans", cursive;
  text-align: center;
  z-index: -1;
  width: 100vw;
  font-size: 2.5rem;
}

h2 {
  font-family: "Expletus Sans", cursive;
  text-align: center;
  z-index: -1;
  width: 100vw;
  font-size: 2rem;
}

.hide {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(var(--size)) rotate(0deg);
            transform: rotate(0deg) translateX(var(--size)) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(var(--size)) rotate(-360deg);
            transform: rotate(360deg) translateX(var(--size)) rotate(-360deg);
  }
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(var(--size)) rotate(0deg);
            transform: rotate(0deg) translateX(var(--size)) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(var(--size)) rotate(-360deg);
            transform: rotate(360deg) translateX(var(--size)) rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#sun {
  --diameter: 88px;
  --offset: 44px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--sun-yellow);
  -webkit-box-shadow: 0px 0px 33px 21px rgba(242, 209, 34, 0.17);
          box-shadow: 0px 0px 33px 21px rgba(242, 209, 34, 0.17);
}

#sun:hover {
  cursor: pointer;
}

#sun:hover {
  -webkit-box-shadow: 0px 0px 33px 21px rgba(242, 207, 34, 0.625);
          box-shadow: 0px 0px 33px 21px rgba(242, 207, 34, 0.625);
}

#mercury {
  --offset: 4px;
  --diameter: 8px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--mercury-grey);
  --size: 75px;
  -webkit-animation: orbit 14.5s linear infinite;
          animation: orbit 14.5s linear infinite;
}

#mercury:hover {
  cursor: pointer;
}

#mercury:hover {
  --offset: calc(4px * 2.5);
  --diameter: calc(8px * 2.5);
}

#venus {
  --offset: 5px;
  --diameter: 10px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--venus-orange);
  --size: 100px;
  -webkit-animation: orbit 36.7s linear infinite;
          animation: orbit 36.7s linear infinite;
}

#venus:hover {
  cursor: pointer;
}

#venus:hover {
  --offset: calc(5px * 2);
  --diameter: calc(10px * 2);
}

#earth {
  --offset: 5.5px;
  --diameter: 11px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--earth-blue);
  --size: 125px;
  -webkit-animation: orbit 60s linear infinite;
          animation: orbit 60s linear infinite;
}

#earth:hover {
  cursor: pointer;
}

#earth:hover {
  --offset: calc(5.5px * 2);
  --diameter: calc(11px * 2);
}

#mars {
  --offset: 4.5px;
  --diameter: 9px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--mars-red);
  --size: 150px;
  -webkit-animation: orbit 112.9s linear infinite;
          animation: orbit 112.9s linear infinite;
}

#mars:hover {
  cursor: pointer;
}

#mars:hover {
  --offset: calc(4.5px * 2);
  --diameter: calc(9px * 2);
}

#jupiter {
  --offset: 25px;
  --diameter: 50px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--jupiter-brown);
  --size: 270px;
  -webkit-animation: orbit 711.6s linear infinite;
          animation: orbit 711.6s linear infinite;
}

#jupiter:hover {
  cursor: pointer;
}

#jupiter:hover {
  --offset: calc(25px * 1.5);
  --diameter: calc(50px * 1.5);
}

#saturn {
  --offset: 20px;
  --diameter: 40px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--saturn-purple);
  --size: 370px;
  -webkit-animation: orbit 1767s linear infinite;
          animation: orbit 1767s linear infinite;
}

#saturn:hover {
  cursor: pointer;
}

#saturn:hover {
  --offset: calc(20px * 1.5);
  --diameter: calc(40px * 1.5);
}

#uranus {
  --offset: 15px;
  --diameter: 30px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--uranus-green);
  --size: 470px;
  -webkit-animation: orbit 5040s linear infinite;
          animation: orbit 5040s linear infinite;
}

#uranus:hover {
  cursor: pointer;
}

#uranus:hover {
  --offset: calc(15px * 1.5);
  --diameter: calc(30px * 1.5);
}

#neptune {
  --offset: 13.5px;
  --diameter: 27px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--neptune-blue);
  --size: 550px;
  -webkit-animation: orbit 9888s linear infinite;
          animation: orbit 9888s linear infinite;
}

#neptune:hover {
  cursor: pointer;
}

#neptune:hover {
  --offset: calc(13.5px * 1.5);
  --diameter: calc(27px * 1.5);
}

#pluto {
  --diameter: 7px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  background-color: var(--pluto-brown);
  --offset: 3.5px;
  top: calc(50% - var(--offset));
  left: calc(43% - var(--offset));
  --size: 650px;
  -webkit-animation: orbit 14880s linear infinite;
          animation: orbit 14880s linear infinite;
}

#pluto:hover {
  cursor: pointer;
}

#pluto:hover {
  --offset: calc(3.5px * 2.5);
  --diameter: calc(7px * 2.5);
}

#asteriodBelt {
  --offset: 169.5px;
  --diameter: 339px;
  border-radius: 50%;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--offset));
  left: calc(50% - var(--offset));
  border: 6px dotted var(--asteriod-brown);
  --size: 0px;
  -webkit-animation: rotate 180s linear infinite;
          animation: rotate 180s linear infinite;
  z-index: -4;
}

#asteriodBelt:hover {
  cursor: pointer;
}

.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid var(--star-white);
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 4px;
}

.star:before, .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-white);
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.star:after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.story {
  width: 50%;
  padding: 2rem;
  font-size: 1.6rem;
}

.story li {
  list-style: none;
  padding: .75rem 0;
}

.story dt {
  padding: .75rem 0;
}

.story h1 {
  width: 100%;
}

.story a {
  color: var(--uranus-green);
  text-decoration: none;
}

.facts {
  width: 50%;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: right;
}

.facts li {
  list-style: none;
  padding: .75rem 0;
}

.facts dt {
  padding: .75rem 0;
}

.facts h1 {
  width: 100%;
}

.facts a {
  color: var(--uranus-green);
  text-decoration: none;
}

.solarObject {
  --diameter: 75vh;
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.solarObject:hover {
  cursor: default;
}

.planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*# sourceMappingURL=global.css.map */